.header{
    background-color: #8a2be2;
    color: white;
    display: flex;
    justify-content: center;
    margin: 10px;
    margin-top: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
