.nav{
    
    background:  #8a2be2;
    color: white;
    height: 100vh;
    gap: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.nav a{
    color: white;
    font-size: 26px;
    display: block;
    text-align: center;
    text-decoration: none;
}

